<template>
	<div class="Vantagens">
		<section>
			<span class="text">
				Selecione os DDDs de Origem e Destino e informe os minutos para realizar
				o cálculo.
			</span>
		</section>
		<div class="container">
			<v-col>
				<v-select
					v-model="dddOrigem"
					:items="initialDDDS"
					label="DDD de Origem"
					@change="dddDestino = null"
					outlined
				></v-select>
			</v-col>
			<v-col>
				<v-select
					:disabled="!dddOrigem"
					v-model="dddDestino"
					:items="finalDDDs"
					item-text="destino"
					label="DDD de Destino"
					return-object=""
					outlined
				></v-select>
			</v-col>
		</div>
		<section class="container minutos">
			<div class="minuto-field">
				<v-text-field
					label="Minutos a Falar"
					:disabled="!dddDestino"
					v-model="minutos"
					outlined
					type="number"
				></v-text-field>
			</div>
		</section>
		<div v-if="dddDestino">
			<div class="container-center">
				<v-expand-x-transition>
					<v-data-table
						v-show="dddDestino"
						:headers="headers"
						:items="planos"
						class="elevation-1 tabela"
						transition="slide-x-transition"
						hide-default-footer
					>
						<template v-slot:item.semFaleMais>
							{{ valorSemFaleMais | currency('R$') }}
						</template>
						<template v-slot:item.valor="{ item }">
							{{ item.valor | currency('R$') }}
						</template>
						<template v-slot:item.comFaleMais="{ item }">
							{{ calcValor(item) | currency('R$') }}
						</template>
					</v-data-table>
				</v-expand-x-transition>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { CoberturaStore } from '../../store/coberturas.store';
import { Cobertura } from '@/models/cobertura';
import { PlanoStore } from '@/store/planos.store';
import { Plano } from '@/models/plano';

@Component({})
export default class Vantagens extends Vue {
	minutos: number = 0;
	dddOrigem: string = '';
	dddDestino: Cobertura | null = null;
	headers = [
		{
			text: 'Plano FaleMais',
			align: 'start',
			sortable: false,
			value: 'nome'
		},
		{
			text: 'Sem FaleMais',
			align: 'start',
			sortable: false,
			value: 'semFaleMais'
		},
		{
			text: 'Valor de Aquisição',
			align: 'start',
			sortable: false,
			value: 'valor'
		},
		{
			text: 'Com FaleMais',
			align: 'start',
			sortable: false,
			value: 'comFaleMais'
		}
	];

	calcValor(item: Plano) {
		if (this.minutos < 0) return 0
		const minDiff = this.minAbs - item.minutos;
		const minutos = minDiff < 0 ? 0 : Math.abs(this.minAbs - item.minutos);
		const valor = minutos * this.dddDestino.valor;
		if (minutos == 0) {
			return 0;
		}
		return valor + (this.dddDestino.valor * item.porcentagem) / 100;
	}

	created() {
		CoberturaStore.listar();
		PlanoStore.listar();
	}

	get valorSemFaleMais(){
		return (this.minutos < 0) ? 0 : (this.minutos * this.dddDestino.valor);
	}

	get minAbs() {
		return Math.abs(this.minutos) || 0;
	}

	get coberturas() {
		return CoberturaStore.coberturas;
	}

	get planos() {
		return Object.values(PlanoStore.planos);
	}

	get initialDDDS() {
		return Object.values(CoberturaStore.coberturas)
			.map(item => item.origem)
			.filter((x, i, a) => a.indexOf(x) == i);
	}

	get finalDDDs() {
		return Object.values(CoberturaStore.coberturas).filter(
			item => item.origem == this.dddOrigem
		);
	}
}
</script>

<style lang="scss">
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.minutos {
	justify-content: center;
}

.minuto-field {
	width: 40%;
}

.container-center {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.tabela {
	width: 80%;
}

.Vantagens {
	margin-bottom: 30px;
}

section {
	text-align: center;
}

.text {
	margin: 5px;
	font-family: courier, monospace;
	align-self: center;
}
</style>
