<template>
	<div>
		<v-app-bar color="deep-purple accent-4" dark>
			<v-app-bar-nav-icon
				@click.stop="drawer = !drawer"
				aria-label="Menu de Navegação"
			></v-app-bar-nav-icon>

			<v-spacer></v-spacer>
		</v-app-bar>

		<v-navigation-drawer v-model="drawer" absolute temporary>
			<navigation-list></navigation-list>
		</v-navigation-drawer>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
	components: {
		NavigationList: () => import('../navigation-list/NavigationList.vue')
	}
})
export default class Navbar extends Vue {
	drawer: boolean = false;
}
</script>
