<template>
	<v-app>
		<navbar></navbar>
		<v-content>
			<router-view :key="$route.path"></router-view>
		</v-content>
		<!-- Snack Global -->

		<v-snackbar
			v-model="snack"
			:timeout="5000"
			:color="snackColor"
			content-class="snack"
		>
			<span>
				{{ snackMsg }}
			</span>
		</v-snackbar>
	</v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import Navbar from './components/navbar/Navbar.vue';
import { CoberturaStore } from './store/coberturas.store';
import EventBus from './_helpers/eventBus';

@Component({
	components: { Navbar }
})
export default class App extends Vue {
	snackMsg: string = '';
	snackColor: string = '';
	snack: boolean = false;

	created() {
		CoberturaStore.listar();
		EventBus.$on('snack', this.snackHandler);
	}

	get coberturas() {
		return CoberturaStore.coberturas;
	}

	snackHandler(data: { msg: string; color?: string }) {
		this.snackMsg = data.msg;
		data.color ? (this.snackColor = data.color) : (this.snackColor = '');
		this.snack = true;
	}
}
</script>

<style lang="scss"></style>
