<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center" class="ma-0 pa-0">
      <v-col lg="4" sm="10">
        <v-form @submit.prevent="login" v-model="formIsValid">
          <v-card class="elevation-12">
            <v-card-text>
              <v-text-field
                v-model="dadosLogin.email"
                label="Email"
                :rules="validadores.email"
                prepend-icon="mdi-account"
                type="email"
              ></v-text-field>

              <v-text-field
                v-model="dadosLogin.senha"
                label="Senha"
                :rules="validadores.senha"
                prepend-icon="mdi-lock"
                type="password"
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-layout justify-center>
                <v-btn type="submit" color="primary" :disabled="!formIsValid"
                  >Login</v-btn
                >
              </v-layout>
            </v-card-actions>
            <v-layout justify-center>
              <v-btn color="primary" text to="/cadastro">
                Não Possuo Cadastro
              </v-btn>
            </v-layout>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { UsuarioLogin } from "@/models/usuarioLogin";
import { AuthModule } from "@/store/auth.store";
import { Validator } from "@/_helpers/validators";

@Component({})
export default class Login extends Vue {
  dadosLogin: UsuarioLogin = new UsuarioLogin();
  formIsValid = false;
  validadores = {
    email: [Validator.required(), Validator.email()],
    senha: [Validator.required()],
  };
  login() {
    AuthModule.initLogin(this.dadosLogin);
  }
}
</script>

<style lang="scss"></style>
