<template>
	<div class="NavigationList">
		<v-list>
			<v-list-item link to="/">
				<v-list-item-icon>
					<v-icon>mdi-home</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Home</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link to="/login">
				<v-list-item-icon>
					<v-icon>mdi-security</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Admin</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link to="/linhas-de-pesquisa">
				<v-list-item-icon>
					<v-icon>mdi-security</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Admin</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class NavigationList extends Vue {}
</script>

<style lang="scss"></style>
